{% extends "/layouts/main.twig" %}

{% block title %}Customers{% endblock %}

{% block head %}
  {{ parent() }}
  {{ script('test.js') }}
{% endblock %}

{% block content %}
  <h1>Customers</h1>
  
  {% include 'layouts/flashes.twig' %}
  
  {{ createLink('Add new customer', '/customers/new') }}

  <p>Here's your customers:</p>
  <ul>
  {% for customer in customers %}
    <li>{{ customer.name }} 
      | {{ createLink('Edit', '/customers/' ~ customer.id) }}
      | {{ deleteButton('Delete', '/customers/' ~ customer.id) }}</li>
  {% endfor %}
  </ul>
{% endblock %}